
<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.7">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>K8S_CREDENTIALS_ID</name>
          <description></description>
          <defaultValue>{{ k8s_credentials_id }}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_CONTEXT</name>
          <description></description>
          <defaultValue>{{ k8s_context }}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_NAMESPACE</name>
          <description></description>
          <defaultValue>{{ k8s_namespace }}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_DEPLOYMENT</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>K8S_ENV</name>
          <description></description>
          <defaultValue>{{ k8s_env_tag }}</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REGISTRY</name>
          <description></description>
          <defaultValue>devops.wize.mx:5000</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_IMAGE_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_COMMIT_TAG</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.9.0">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.18">
    <script>def jobK8sConfigCredentialsId = params.K8S_CREDENTIALS_ID
def jobK8sContext = params.K8S_CONTEXT
def jobK8sNamespace = params.K8S_NAMESPACE
def jobK8sDeployment = params.K8S_DEPLOYMENT
def jobK8sEnv = params.K8S_ENV
def jobDockerRegistry = params.DOCKER_REGISTRY
def jobDockerImageName = params.DOCKER_IMAGE_NAME
def jobDockerImageTag = params.DOCKER_COMMIT_TAG
def jobDockerDaemon = params.DOCKER_DAEMON_URL

kubernetesDeployer {
  k8sConfigCredentialsId = jobK8sConfigCredentialsId
  k8sContext = jobK8sContext
  k8sNamespace = jobK8sNamespace
  k8sDeploymentName = jobK8sDeployment
  k8sEnvTag = jobK8sEnv

  dockerRegistry = jobDockerRegistry
  dockerImageName = jobDockerImageName
  dockerImageTag = jobDockerImageTag

  dockerDaemonHost = &quot;internal-docker.wize.mx&quot;
  dockerRegistryCredentialsId = &quot;d656f8b1-dcf6-4737-83c1-c9199fb02463&quot;
  jenkinsNode = &quot;devops1&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>
